* text=auto eol=lf

*.sql text eol=lf
*.rs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Cargo.lock text eol=lf
pnpm-lock.yaml text eol=lf
